<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>welcome to Form Page</h1>

<form action="/result" method="post">

    <input type="number" name="Bangla" placeholder="Bangla">
    <input type="number" name="English" placeholder="English">
    <input type="number" name="Math" placeholder="Math">
    <input type="submit" value="Submit">


</form>

<p>Total Number is: {{total}}</p>



</body>
</html>